Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pattern==2.6
Pygments==1.6
Sphinx==1.2.3
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
cdk==1.0.8
certifi==14.05.14
distribute==0.6.45
docopt==0.6.2
ipython==1.1.0
itsdangerous==0.24
python-dateutil==2.2
pytz==2014.7
pyzmq==14.4.0
readline==6.2.4.1
six==1.8.0
tornado==4.0.2
vboxapi==1.0
vertica-python==0.3.0
virtualenv==1.10.1
wsgiref==0.1.2
